
.icon-plus-circle:before { content: '\f055'; } /* '' */
.icon-facebook-square:before { content: '\f082'; } /* '' */
.icon-sign-in:before { content: '\f090'; } /* '' */
.icon-bars:before { content: '\f0c9'; } /* '' */
.icon-user-alt:before { content: '\f406'; } /* '' */